﻿
@{
    ViewBag.Title = "Index";
}



    <div class=" pt60 pb60 ">
        <div class="container">


            <div class="row pt60"><div class="col-lg-12"><h3 class="text-red">Customer Service</h3></div></div>
            <div class="row">

                <div class="col-lg-1">
                    <img src="~/images/17-Customer-Service.png" width="70" />


                </div>
                <div class="col-lg-11">

                    <p class="pt10">Contact our Toll free Number<br /><span class="text-blue" style="font-size:30px;">9200 00 0</span></p>


                </div>

            </div>

            <div class="row pb30">


                <div class="col-lg-9 mt30 wow fadeInUp" data-wow-delay=".2s">


                    <div class="col-lg-12">
                        <p>Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                    </div>

                    <div class="col-lg-12">
                        <h5 class="text-blue"><b>Send</b> a feedback</h5>
                    </div>
                    
                    
                <div class="col-lg-6 text-field-column">
                

                        <div class="mb20 mt20">

                            <div class="input-group">
                                <input type="text" name="name" class="form-control required text-field-border" placeholder="Full Name">
                            </div>

                        </div><!--/col-->
  
                </div>

                
                    <div class="col-lg-6 text-field-column">
                        <div class="mb20 mt20">

                            <div class="input-group">
                                <input type="email" name="email" class="form-control required text-field-border" placeholder="Email">
                            </div>

                        </div><!--/col-->



                    </div>

   

                        <div class="col-lg-6 text-field-column">
                            <div class="mb20 mt20">

                                <div class="input-group">
                                    <input type="text" name="mobile" class="form-control required text-field-border" placeholder="Mobile">
                                </div>

                            </div><!--/col-->
                        </div>

                        <div class="col-lg-6 text-field-column">
                            <div class="mb20 mt20">

                                <div class="input-group">
                                    <input type="text" name="city" class="form-control required text-field-border" placeholder="City">
                                </div>

                            </div><!--/col-->
                        </div>


                        <div class="col-lg-12 text-field-column">
                            <div class="mb20 mt20">

                                <div class="input-group">
                                    <input type="text" name="message" class="form-control required text-field-border" placeholder="Message">
                                </div>

                            </div><!--/col-->
                        </div>

                        
                    <div class="col-lg-12">

                        <button class="btn btn-filter btn-success" type="submit">Submit</button>

                    </div>


                </div><!--/.col-->

                <div class="col-lg-3 mt30 wow fadeInUp" data-wow-delay=".2s">

                    <p align="center"><img src="~/images/service.png"  /></p>

                </div><!--/.col-->


            </div>


            </div>
    </div>

