﻿
@{
    Layout = Layout;
}

<div class=" pt90 pb20 grey">
    <div class="container">
        <div class="row pt90">
            <div class="col-lg-10">

                <h3 class="text-blue">
                    <img src="~/images/back.png" />
                    CCTV Systems / <b>Bullet Cameras</b>

                </h3>
            </div>

            <div class="col-lg-2">

                <h3 class="text-blue">
                    <span class="input-group-btn" style="float:right;">
                        <button class="btn btn-product btn-primary" type="submit">Find a Product</button>
                    </span>

                </h3>
            </div>


        </div>
    </div>

</div>

<div class=" pt50 pb50">

    <div class="container">
        <div class="row">

            <div class="col-lg-2">

                <div id="js-pagination-slider">
                    <div class="cbp-pagination-item cbp-pagination-active">
                        <img src="~/images/img11.jpg" alt="">
                    </div>
                    <div class="cbp-pagination-item">
                        <img src="~/images/img12.jpg" alt="">
                    </div>
                    <div class="cbp-pagination-item">
                        <img src="~/images/img13.jpg" alt="">
                    </div>
                    <div class="cbp-pagination-item">
                        <img src="~/images/img14.jpg" alt="">
                    </div>

                </div>

            </div>


            <div class="col-lg-6">
                <div id="js-grid-slider-thumbnail" class="cbp">
                    <div class="cbp-item">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="~/images/img11.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="cbp-item">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="~/images/img12.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="cbp-item">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="~/images/img13.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="cbp-item">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="~/images/img14.jpg" alt="">
                            </div>
                        </div>
                    </div>

                </div>
                <!--thumbnails-->

            </div>



            <div class="col-lg-4">
                <h3 class="text-blue">
                    SAMSUNG
                </h3>
                <p><b>SCB - 9060</b></p>
                <p>Waterproof Thermal Camera</p>

                <h4 class="text-blue">
                    Product Description
                </h4>
                <p>ras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus</p>

                <h4 class="text-blue">
                    Usage
                </h4>
                <p>ras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus</p>

                <p class="text-red">
                    <b>968.00 SAR</b>
                    <span style="float:right;">
                        <a href="~/#" class="btn font-button btn-sm btn-rounded btn-success">Add to cart</a>
                    </span>
                </p>


            </div>
        </div>
    </div>

</div>


<div class=" pt50 pb50 grey">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <h4 class="text-blue">
                    
                    Related Products

                </h4>
            </div>

            <div class="col-lg-3 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">
                <div class="entry-card">
                    <a href="~/#" class="entry-thumb">
                        <img src="~/images/camera.png" alt="" class="img-fluid img-full">
                        <span class="thumb-hover ti-back-right"></span>
                    </a><!--/entry thumb-->
                    <div class="entry-content">
                        <div class="entry-meta mb5" align="center">
                            <span>
                                CCTV systems
                            </span>
                        </div>
                        <h4 class="entry-title text-capitalize" align="center">
                            <a href="~/#">
                                SAMSUNG SS-800-TSF
                            </a>
                        </h4>
                        <p align="center">
                            <a href="~/#" class="btn font-button btn-md btn-rounded btn-success"><span>900.00 SAR</span><span style="margin-left:10px !important;">Add to cart</span></a><br>
                        </p>

                    </div><!--/entry content-->
                </div>
            </div><!--/.col-->

            <div class="col-lg-3 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">
                <div class="entry-card">
                    <a href="~/#" class="entry-thumb">
                        <img src="~/images/camera.png" alt="" class="img-fluid img-full">
                        <span class="thumb-hover ti-back-right"></span>
                    </a><!--/entry thumb-->
                    <div class="entry-content">
                        <div class="entry-meta mb5" align="center">
                            <span>
                                CCTV systems
                            </span>
                        </div>
                        <h4 class="entry-title text-capitalize" align="center">
                            <a href="~/#">
                                SAMSUNG SS-800-TSF
                            </a>
                        </h4>
                        <p align="center">
                            <a href="~/#" class="btn font-button btn-md btn-rounded btn-success"><span>900.00 SAR</span><span style="margin-left:10px !important;">Add to cart</span></a><br>
                        </p>

                    </div><!--/entry content-->
                </div>
            </div>

            <div class="col-lg-3 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">
                <div class="entry-card">
                    <a href="~/#" class="entry-thumb">
                        <img src="~/images/camera.png" alt="" class="img-fluid img-full">
                        <span class="thumb-hover ti-back-right"></span>
                    </a><!--/entry thumb-->
                    <div class="entry-content">
                        <div class="entry-meta mb5" align="center">
                            <span>
                                CCTV systems
                            </span>
                        </div>
                        <h4 class="entry-title text-capitalize" align="center">
                            <a href="~/#">
                                SAMSUNG SS-800-TSF
                            </a>
                        </h4>
                        <p align="center">
                            <a href="~/#" class="btn font-button btn-md btn-rounded btn-success"><span>900.00 SAR</span><span style="margin-left:10px !important;">Add to cart</span></a><br>
                        </p>

                    </div><!--/entry content-->
                </div>
            </div>

            <div class="col-lg-3 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">
                <div class="entry-card">
                    <a href="~/#" class="entry-thumb">
                        <img src="~/images/camera.png" alt="" class="img-fluid img-full">
                        <span class="thumb-hover ti-back-right"></span>
                    </a><!--/entry thumb-->
                    <div class="entry-content">
                        <div class="entry-meta mb5" align="center">
                            <span>
                                CCTV systems
                            </span>
                        </div>
                        <h4 class="entry-title text-capitalize" align="center">
                            <a href="~/#">
                                SAMSUNG SS-800-TSF
                            </a>
                        </h4>
                        <p align="center">
                            <a href="~/#" class="btn font-button btn-md btn-rounded btn-success"><span>900.00 SAR</span><span style="margin-left:10px !important;">Add to cart</span></a><br>
                        </p>

                    </div><!--/entry content-->
                </div>
            </div>


        </div>
    </div>
</div>

