﻿
@{
    Layout = Layout;
}

<style>



</style>

<div class=" pt90 pb20 grey">
    <div class="container">
        <div class="row pt90">
            <div class="col-lg-12 mb30">

                <h3 class="text-red">
                   
                    Shopping Cart

                </h3>
            </div>

            

        </div>
    </div>

</div>

<div class="container pb60">
    
    <table class="table table-condensed table-responsive cart-table mb40 table-border table-prop">
       
        <tbody>
            <tr>
                <td class="product-image">
                    <img src="~/images/shop/p1.jpg" alt="" width="50">
                </td>
                <td class="product-name"><a href="#">Men's Backpack</a></td>
                <td class="product-price">$299.00</td>
                <td class="product-quantity">
                    <input type="number" value="1" min="1" class="fl qty-text" name="quantity">
                </td>
                <td class="product-total">
                    $299.00
                </td>
                <td class="product-delete"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove this item"><i class="fa fa-times text-grey"></i></a></td>
            </tr>
            <tr>
                <td class="product-image">
                    <img src="~/images/shop/p2.jpg" alt="" width="50">
                </td>
                <td class="product-name"><a href="#">Cream T-shirt</a></td>
                <td class="product-price">$299.00</td>
                <td class="product-quantity">
                    <input type="number" value="1" min="1" class="fl qty-text" name="quantity">
                </td>
                <td class="product-total">
                    $299.00
                </td>
                <td class="product-delete"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove this item"><i class="fa fa-times text-grey"></i></a></td>
            </tr>
            <tr>
                <td class="product-image">
                    <img src="~/images/shop/p3.jpg" alt="" width="50">
                </td>
                <td class="product-name"><a href="#">Men's Watch</a></td>
                <td class="product-price">$599.00</td>
                <td class="product-quantity">
                    <input type="number" value="1" min="1" class="fl qty-text" name="quantity">
                </td>
                <td class="product-total">
                    $599.00
                </td>
                <td class="product-delete"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove this item"><i class="fa fa-times text-grey"></i></a></td>
            </tr>
        </tbody>
    </table>


        <div class="col-lg-12 table-border pb20 pt20 div-color">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">Proceed to checkout</div>
            <div class="col-lg-7 col-md-6 col-sm-6" align="right"><span>Total Cost</span><span style="margin-left:10px !important;">1000.00 SAR</span></div>
            <div class="col-lg-1 col-md-2 col-sm-2 div-color"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Proceed"><i class="fa fa-forward text-white"></i></a></div>
        </div>
    </div>

</div>


<div class=" pt50 pb50 grey">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <h4 class="text-blue">

                    People also bought these

                </h4>
            </div>

            <div class="col-lg-3 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">
                <div class="entry-card">
                    <a href="~/#" class="entry-thumb">
                        <img src="~/images/camera.png" alt="" class="img-fluid img-full">
                        <span class="thumb-hover ti-back-right"></span>
                    </a><!--/entry thumb-->
                    <div class="entry-content">
                        <div class="entry-meta mb5" align="center">
                            <span>
                                CCTV systems
                            </span>
                        </div>
                        <h4 class="entry-title text-capitalize" align="center">
                            <a href="~/#">
                                SAMSUNG SS-800-TSF
                            </a>
                        </h4>
                        <p align="center">
                            <a href="~/#" class="btn font-button btn-md btn-rounded btn-success"><span>900.00 SAR</span><span style="margin-left:10px !important;">Add to cart</span></a><br>
                        </p>

                    </div><!--/entry content-->
                </div>
            </div><!--/.col-->

            <div class="col-lg-3 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">
                <div class="entry-card">
                    <a href="~/#" class="entry-thumb">
                        <img src="~/images/camera.png" alt="" class="img-fluid img-full">
                        <span class="thumb-hover ti-back-right"></span>
                    </a><!--/entry thumb-->
                    <div class="entry-content">
                        <div class="entry-meta mb5" align="center">
                            <span>
                                CCTV systems
                            </span>
                        </div>
                        <h4 class="entry-title text-capitalize" align="center">
                            <a href="~/#">
                                SAMSUNG SS-800-TSF
                            </a>
                        </h4>
                        <p align="center">
                            <a href="~/#" class="btn font-button btn-md btn-rounded btn-success"><span>900.00 SAR</span><span style="margin-left:10px !important;">Add to cart</span></a><br>
                        </p>

                    </div><!--/entry content-->
                </div>
            </div>

            <div class="col-lg-3 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">
                <div class="entry-card">
                    <a href="~/#" class="entry-thumb">
                        <img src="~/images/camera.png" alt="" class="img-fluid img-full">
                        <span class="thumb-hover ti-back-right"></span>
                    </a><!--/entry thumb-->
                    <div class="entry-content">
                        <div class="entry-meta mb5" align="center">
                            <span>
                                CCTV systems
                            </span>
                        </div>
                        <h4 class="entry-title text-capitalize" align="center">
                            <a href="~/#">
                                SAMSUNG SS-800-TSF
                            </a>
                        </h4>
                        <p align="center">
                            <a href="~/#" class="btn font-button btn-md btn-rounded btn-success"><span>900.00 SAR</span><span style="margin-left:10px !important;">Add to cart</span></a><br>
                        </p>

                    </div><!--/entry content-->
                </div>
            </div>

            <div class="col-lg-3 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">
                <div class="entry-card">
                    <a href="~/#" class="entry-thumb">
                        <img src="~/images/camera.png" alt="" class="img-fluid img-full">
                        <span class="thumb-hover ti-back-right"></span>
                    </a><!--/entry thumb-->
                    <div class="entry-content">
                        <div class="entry-meta mb5" align="center">
                            <span>
                                CCTV systems
                            </span>
                        </div>
                        <h4 class="entry-title text-capitalize" align="center">
                            <a href="~/#">
                                SAMSUNG SS-800-TSF
                            </a>
                        </h4>
                        <p align="center">
                            <a href="~/#" class="btn font-button btn-md btn-rounded btn-success"><span>900.00 SAR</span><span style="margin-left:10px !important;">Add to cart</span></a><br>
                        </p>

                    </div><!--/entry content-->
                </div>
            </div>


        </div>
    </div>
</div>



