@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import 'https://fonts.googleapis.com/css?family=Hind+Madurai:600,700';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* =============
  == Core List==

   - Common
   - Helper classes
   - Extra
   - Bootstrap Custom
   - Waves effect
   - Print (Invoice css)
   - Demo Css (Demo purpose only)

============= */
/* =============
   Common
============= */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding-bottom: 60px;
  overflow-x: hidden;
  color: #90616d;
  background: linear-gradient(170deg, rgb(31, 28, 52) 0%, rgb(36, 20, 58) 55%, rgb(29, 21, 37) 100%);
}
html {
  position: relative;
  min-height: 100%;
}
.lineHeight1-1 {
  line-height: 1.1;
}
.lineHeight1-2 {
  line-height: 1.2;
}
.lineHeight1-3 {
  line-height: 1.3;
}
.haveScroll {
  max-height: 380px;
}
.smallerFontSize {
  font-size:11px !important;
}
.smallFontSize {
  font-size:12px;
}
.smallFontSize .small {
  font-size:12px;
}
.mediumFontSize {
  font-size:13px;
}
.largeFontSize {
  font-size:14px;
}
.bg-beriosova {
  background-color:#3E344A !important;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  margin: 10px 0;
  font-weight: 400;
}
h5 {
  font-size: 15px;
}
p {
  line-height: 1.6;
}
* {
  outline: none !important;
}
b,
strong {
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}
a:hover {
  outline: 0;
  text-decoration: none;
}
a:active {
  outline: 0;
  text-decoration: none;
}
a:focus {
  outline: 0;
  text-decoration: none;
}
.container {
  width: auto;
}
.container-alt {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* Footer */
.footer {
  border-top: 1px solid rgba(152, 166, 173, 0.2);
  bottom: 0;
  text-align: left !important;
  padding: 19px 30px 20px;
  position: absolute;
  right: 0;
  left: 225px;
  font-size: 12px;
}
#wrapper {
  height: 100%;
  overflow: hidden;
  width: 100%;
}
/* =============
   Helper classes
============= */
.p-0 {
  padding: 0 !important;
}
.p-20 {
  padding: 20px !important;
}
.p-30 {
  padding: 30px !important;
}
.p-l-0 {
  padding-left: 0 !important;
}
.p-r-0 {
  padding-right: 0 !important;
}
.p-t-0 {
  padding-top: 0 !important;
}
.p-b-0 {
  padding-bottom: 0 !important;
}
.p-t-10 {
  padding-top: 10px !important;
}
.p-b-10 {
  padding-bottom: 10px !important;
}
.p-l-r-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.m-0 {
  margin: 0 !important;
}
.m-r-5 {
  margin-right: 5px !important;
}
.m-r-10 {
  margin-right: 10px !important;
}
.m-r-15 {
  margin-right: 15px !important;
}
.m-l-5 {
  margin-left: 5px !important;
}
.m-l-10 {
  margin-left: 10px !important;
}
.m-l-15 {
  margin-left: 15px !important;
}
.m-t-5 {
  margin-top: 5px !important;
}
.m-t-0 {
  margin-top: 0 !important;
}
.m-t-10 {
  margin-top: 10px !important;
}
.m-t-15 {
  margin-top: 15px !important;
}
.m-t-20 {
  margin-top: 20px !important;
}
.m-t-30 {
  margin-top: 30px !important;
}
.m-t-40 {
  margin-top: 40px !important;
}
.m-t-50 {
  margin-top: 50px !important;
}
.m-b-0 {
  margin-bottom: 0 !important;
}
.m-b-5 {
  margin-bottom: 5px !important;
}
.m-b-10 {
  margin-bottom: 10px !important;
}
.m-b-15 {
  margin-bottom: 15px !important;
}
.m-b-20 {
  margin-bottom: 20px !important;
}
.m-b-25 {
  margin-bottom: 25px !important;
}
.m-b-30 {
  margin-bottom: 30px !important;
}
.w-xs {
  min-width: 80px;
}
.w-sm {
  min-width: 95px;
}
.w-md {
  min-width: 110px;
}
.w-lg {
  min-width: 140px;
}
.center-page {
  float: none !important;
  margin: 0 auto !important;
}
.text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  width: 100%;
  overflow: hidden;
}
.font-secondary {
  font-family: 'Roboto', sans-serif;
}
.font-600 {
  font-weight: 600;
}
.font-normal {
  font-weight: normal;
}
.font-light {
  font-weight: 300;
}
.font-13 {
  font-size: 13px !important;
}
.wrapper-md {
  padding: 20px;
}
.pull-in {
  margin-left: -20px;
  margin-right: -20px;
}
.b-0 {
  border: none !important;
}
.vertical-middle {
  vertical-align: middle;
}
.bx-shadow {
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.bx-shadow-none {
  box-shadow: none !important;
}
.mx-box {
  max-height: 380px;
  min-height: 380px;
}
.thumb-sm {
    height: 60px;
    width: 120px;
    max-width: inherit;
    border-radius: 6px !important;
    box-shadow: 0px 5px 8px -1px rgba(0, 0, 0, 0.25) !important;
}
.thumb-md {
  height: 48px;
  width: 48px;
}
.thumb-lg {
  height: 88px;
  width: 88px;
}
.thumb-xl {
  height: 120px;
  width: 120px;
}
.bg-transparent {
  background-color: transparent !important;
}
.slimScrollDiv {
  height: auto !important;
}
/* =============
   Extras
============= */
/* Table type box */
.table-box {
  display: table;
  height: 100%;
  width: 100%;
}
.table-box .table-detail {
  display: table-cell;
  vertical-align: middle;
}
/* Card Box */
.card-box {
  padding: 15px;
  /*border: 2px solid #f3f3f3;*/
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  background-clip: padding-box;
  margin-bottom: 15px;
  background-color: #ffffff;
}
/* Search box */
.search-box {
  position: relative;
}
.search-box .btn-search {
  position: absolute;
  top: 3px;
  right: 3px;
  background-color: transparent !important;
  border: none !important;
  font-size: 16px;
  box-shadow: none !important;
  outline: none !important;
  color: #98a6ad;
}
.search-box .form-control {
  border: 2px solid rgba(152, 166, 173, 0.5);
  height: 38px;
  border-radius: 30px;
  padding: 8px 45px 8px 20px;
}
.search-box .form-control:focus {
  border-width: 2px !important;
}
/* =============
   Bootstrap-custom
============= */

.breadcrumb {
  background-color: transparent;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-left: 0;
}
/* Dropdown */
.dropdown-menu {
  padding: 4px 0;
  transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
  border: 1px solid rgba(152, 166, 173, 0.15);
}
.dropdown-menu > li {
  padding: 0 4px !important;
}
.dropdown-menu > li > a {
  padding: 6px 20px;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  background-color: #f3f3f3 !important;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: rgba(152, 166, 173, 0.1);
  color: #313a46;
}
.dropdown-lg {
  width: 260px;
}
.arrow-dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid rgba(152, 166, 173, 0.15);
  border-left: 7px solid transparent;
  content: '';
}
.arrow-dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}
.arrow-dropdown-menu.arrow-menu-right:before {
  left: auto;
  right: 11px;
}
.arrow-dropdown-menu.arrow-menu-right:after {
  left: auto;
  right: 12px;
}
/* Background colors */
.bg-custom {
  background-color: #7fc1fc !important;
}
.bg-primary {
  background-color: #188ae2 !important;
}
.bg-success {
  background-color: #4bd396 !important;
}
.bg-info {
  background-color: #3ac9d6 !important;
}
.bg-warning {
  background-color: #f9c851 !important;
}
.bg-danger {
  background-color: #f5707a !important;
}
.bg-muted {
  background-color: #797979 !important;
}
.bg-inverse {
  background-color: #3b3e47 !important;
}
.bg-purple {
  background-color: #6b5fb5 !important;
}
.bg-pink {
  background-color: #f06292 !important;
}
.bg-orange {
  background-color: #ff9800 !important;
}
.bg-brown {
  background-color: #8d6e63 !important;
}
.bg-teal {
  background-color: #26a69a !important;
}
.bg-white {
  background-color: #ffffff !important;
}
.bg-dark {
  background-color: #313a46 !important;
}
/* Text colors */
.text-custom {
  color: #7fc1fc !important;
}
.text-white {
  color: #ffffff !important;
}
.text-danger {
  color: #F24157 !important;
}
.text-muted {
  color: #98a6ad !important;
}
.text-primary {
  color: #188ae2 !important;
}
.text-warning {
  color: #f9c851 !important;
}
.text-success {
  color: #4BD396 !important;
}
.text-info {
  color: #3ac9d6 !important;
}
.text-inverse {
  color: #3b3e47 !important;
}
.text-pink {
  color: #f06292 !important;
}
.text-purple {
  color: #6b5fb5 !important;
}
.text-orange {
  color: #ff9800 !important;
}
.text-brown {
  color: #8d6e63 !important;
}
.text-teal {
  color: #26a69a !important;
}
.text-dark {
  color: #313a46 !important;
}
.border-secondary {
  border-color:#DEDEDE !important;
}
/* Labels */
.label {
  font-weight: 600;
  letter-spacing: 0.05em;
  padding: .3em .6em .2em;
  font-family: 'Roboto', sans-serif;
}
.label-white {
  background-color: rgba(255, 255, 255, 0.7);
  color: #313a46 !important;
}
.label-default {
  background-color: #7fc1fc;
}
.label-primary {
  background-color: #188ae2;
}
.label-success {
  background-color: #4bd396;
}
.label-info {
  background-color: #3ac9d6;
}
.label-warning {
  background-color: #f9c851;
}
.label-danger {
  background-color: #f5707a;
}
.label-purple {
  background-color: #6b5fb5;
}
.label-pink {
  background-color: #f06292;
}
.label-orange {
  background-color: #ff9800;
}
.label-brown {
  background-color: #8d6e63;
}
.label-teal {
  background-color: #26a69a;
}
.label-inverse {
  background-color: #3b3e47;
}
/* Badge */
.badge {
  text-transform: uppercase;
  padding: 3px 5px;
  font-size: 11px;
  margin-top: 1px;
  background-color: #7fc1fc;
}
.badge-xs {
  font-size: 9px;
}
.badge-xs,
.badge-sm {
  -webkit-transform: translate(0, -2px);
  -ms-transform: translate(0, -2px);
  -o-transform: translate(0, -2px);
  transform: translate(0, -2px);
}
.badge-white {
  background-color: rgba(255, 255, 255, 0.7);
  color: #313a46 !important;
}
.badge-primary {
  background-color: #188ae2;
}
.badge-success {
  background-color: #4bd396;
}
.badge-info {
  background-color: #3ac9d6;
}
.badge-warning {
  background-color: #f9c851;
}
.badge-danger {
  background-color: #f5707a;
}
.badge-purple {
  background-color: #6b5fb5;
}
.badge-pink {
  background-color: #f06292;
}
.badge-orange {
  background-color: #ff9800;
}
.badge-brown {
  background-color: #8d6e63;
}
.badge-teal {
  background-color: #26a69a;
}
.badge-inverse {
  background-color: #3b3e47;
}
/* Pagination/ Pager */
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
}
.pagination > li > a,
.pagination > li > span {
  color: #636e7b;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #e4e7ea;
}
.pagination-split li {
  margin-left: 5px;
  display: inline-block;
  float: left;
}
.pagination-split li:first-child {
  margin-left: 0;
}
.pagination-split li a {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #7fc1fc;
  border-color: #7fc1fc;
}
.pager li > a,
.pager li > span {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #636e7b;
}
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
  background-color: #7fc1fc;
  border-color: #7fc1fc;
}
.list-group-item.active .list-group-item-text,
.list-group-item.active:focus .list-group-item-text,
.list-group-item.active:hover .list-group-item-text {
  color: rgba(255, 255, 255, 0.7);
}
/*!
 * Waves v0.6.0
 * http://fian.my.id/Waves
 *
 * Copyright 2014 Alfiana E. Sibuea and other contributors
 * Released under the MIT license
 * https://github.com/fians/Waves/blob/master/LICENSE
 */
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  pointer-events: none;
}
.waves-notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}
.waves-circle {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
  -webkit-mask-image: none;
}
.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom;
}
.waves-input-wrapper .waves-button-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
.waves-block {
  display: block;
}
.waves-effect.waves-light .waves-ripple {
  background-color: rgba(255, 255, 255, 0.4);
}
.waves-effect.waves-custom .waves-ripple {
  background-color: rgba(127, 193, 252, 0.4);
}
.waves-effect.waves-primary .waves-ripple {
  background-color: rgba(24, 138, 226, 0.4);
}
.waves-effect.waves-success .waves-ripple {
  background-color: rgba(75, 211, 150, 0.4);
}
.waves-effect.waves-info .waves-ripple {
  background-color: rgba(58, 201, 214, 0.4);
}
.waves-effect.waves-warning .waves-ripple {
  background-color: rgba(249, 200, 81, 0.4);
}
.waves-effect.waves-danger .waves-ripple {
  background-color: rgba(245, 112, 122, 0.4);
}
.waves-effect.waves-pink .waves-ripple {
  background-color: rgba(240, 98, 146, 0.4);
}
.waves-effect.purple .waves-ripple {
  background-color: rgba(107, 95, 181, 0.2);
}
.waves-effect.waves-inverse .waves-ripple {
  background-color: rgba(59, 62, 71, 0.4);
}
/* =============
   Print css
============= */
@media print {
  .page-title-box,
  .topbar-left,
  .hidden-print,
  .breadcrumb,
  .page-title,
  .footer {
    display: none;
    margin: 0;
    padding: 0;
  }
  .left,
  .right-bar {
    display: none;
  }
  .content {
    margin-top: 0 !important;
    padding-top: 0;
  }
  .content-page {
    margin-left: 0;
    margin-top: 0;
  }
}
/* =============
   Demo Css
============= */
.demo-box {
  padding: 10px 15px;
}
/* Button demo */
.button-list {
  margin-left: -8px;
  margin-bottom: -12px;
}
.button-list .btn {
  margin-bottom: 12px;
  margin-left: 8px;
}
/* Popover */
.demo-popover .popover {
  position: relative;
  display: block;
  float: left;
  width: 260px;
  margin: 20px;
  z-index: 9;
}
/* Tooltips */
.demo-tooltip .tooltip {
  position: relative;
  display: inline-block;
  margin: 10px 20px;
  opacity: 1;
}
/* Grid page */
.grid-structure .grid-container {
  background-color: rgba(243, 243, 243, 0.5);
  margin-bottom: 10px;
  padding: 10px 20px;
}
/* Demo Animation */
.demo-animation {
  text-align: center;
}
.demo-animation img {
  position: relative;
  width: 120px;
  display: block;
  margin: 0 auto 40px auto;
  z-index: 1;
  border-radius: 2px;
}
/* Demo only */
.icon-list-demo div {
  cursor: pointer;
  line-height: 45px;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}
.icon-list-demo div p {
  margin-bottom: 0;
  line-height: inherit;
}
.icon-list-demo i {
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  border: 1px solid #f3f3f3;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin-right: 12px;
  color: rgba(43, 61, 81, 0.7);
  border-radius: 3px;
  display: inline-block;
  transition: all 0.2s;
}
.icon-list-demo .col-md-4 {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  background-clip: padding-box;
  margin-bottom: 10px;
}
.icon-list-demo .col-md-4:hover i {
  color: #4bd396;
}
/* Switchery demo */
.switchery-demo .switchery {
  margin-bottom: 10px;
  margin-right: 5px;
}
/* Icon colored demo */
.icon-colored {
  height: 48px;
  width: 48px;
  margin: 2rem;
}
.pagination>li>a, .pagination>li>span {
  font-size: 12px;
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination {
  float: right;
}
.dropdown.open .dropdown-menu {
  display: block;
}
.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}
table.table-bordered.dashboardLatestOrders > thead tr th {
  border: 0px !important;
}
table.dataTable.dashboardLatestOrders {
  border-collapse: collapse !important;
}
table.table-bordered.dashboardLatestOrders tbody tr td, 
table.table-bordered.dashboardLatestOrders tbody tr,
table.table-bordered.dashboardLatestOrders.table-bordered > tbody > tr > td:last-child, 
table.table-bordered.dashboardLatestOrders.table-bordered > tbody > tr > th:last-child {
  border: 0px !important;
  background: transparent !important;
}
table.table-bordered.dashboardLatestOrders {
  margin: 0 !important;
}
table.table-bordered.dashboardLatestOrders.dataTable thead > tr > th {
  padding: 8px 15px;
}
.dashNewsBgImg{ 
  background-image: url(../images/small/img-1.jpg);
  background-position: center center;
  background-size: cover;
  border-radius: 16px;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  position: absolute;
  top: 0;
  left: 15px;
  right: 15px;
  bottom: 0;
  z-index: -1;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}
.bg-black-light {
  background-color: rgba(0,0,0,0.6);
}
.bg-black-light.rounded {
  border-radius: 16px !important;
}
.card-box.bg-beriosova .haveScroll.tableHeight {
  /* height: 402px; */
  max-height: 402px;
}
.plusMinusPrice input.form-control {
  background: #EBEBEB !important;
  height: 27px;
  border: 1px solid hsl(0, 0%, 89%);
  box-shadow: 0px 3px 6px #00000029;
}
.plusMinusPrice .input-group-btn button.btn {
  height: 27px;
  line-height: 27px;
  display: flex;
  align-items: center;
  background: #fff;
  border: 1px solid #E3E3E3 !important;
  font-size: 20px;
  padding: 0;
  width: 42px;
  justify-content: center;
}
.plusMinusPrice .form-group {
  max-width: 140px;
}
.plusMinusPrice p.m-0 {
  line-height: 0.9;
}
.plusMinusPrice .shadow.bg-white.rounded-pill {
  box-shadow: 0px 3px 6px #00000029 !important;
  border: 1px solid #E3E3E3;
  min-width: 110px;
  padding: 2px 15px;
}
.card-box.bg-beriosova {
  position: relative;
}
.card-box.bg-beriosova:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 44px;
  border-radius: 15px 15px 0 0;
  background: rgb(62 52 74);
  background: linear-gradient(180deg, rgb(62 52 74) 24%, rgb(0 212 255 / 0%) 100%);
  z-index: 9;
}
.shadow-none.card-box.bg-beriosova:before {
  display: none;
}
.dataTables_wrapper.dt-bootstrap .dataTables_length {
  display: none;
}
@media (min-width:768px) {
  .row.fixedRightColumn .col-md-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 355px;
      max-width: 355px;
      width: 355px;
  }
  .row.fixedRightColumn .col-md-9 {
      -ms-flex: 0 0 25%;
      flex: 0 0 calc(100% - 355px);
      max-width: calc(100% - 355px);
      width: calc(100% - 355px);
  }
}
table.dataTable.dashboardLatestOrders tbody > tr > td {
  padding-top: 9px;
  padding-bottom: 9px;
}
div.dataTables_wrapper div.dataTables_info {
  font-size: 12px;
  color: #000;
}
.nav-tabs > li.nav-item {
  margin: 0 15px;
}
.nav-tabs > li.nav-item:first-child {margin-left: 0;}
.nav-tabs > li.nav-item:last-child {margin-right: 0;}
.nav-tabs > li.nav-item > a.nav-link {
  border-radius: 0;
  border-width:0 0 3px;
  border-style: solid;
  border-color: transparent;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
    transition-duration: 0.5s;
}
.nav-tabs > li.nav-item:hover > a.nav-link, .nav-tabs > li.nav-item.active > a.nav-link {
  border-color:#f35864 ;
  color: #f35864 ;
  background-color: transparent;
}
@font-face{font-family:dropify;src:url(../fonts/dropify.eot);src:url(../fonts/dropify.eot#iefix) format("embedded-opentype"),url(../fonts/dropify.woff) format("woff"),url(../fonts/dropify.ttf) format("truetype"),url(../fonts/dropify.svg#dropify) format("svg");font-weight:400;font-style:normal}.dropify-font:before,.dropify-wrapper .dropify-message span.file-icon:before,.dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner p.dropify-filename span.file-icon:before,[class*=" dropify-font-"]:before,[class^=dropify-font-]:before{font-family:dropify;font-style:normal;font-weight:400;speak:none;display:inline-block;text-decoration:inherit;width:1em;margin-left:.2em;margin-right:.2em;text-align:center;font-variant:normal;text-transform:none;line-height:1em}.dropify-wrapper,.dropify-wrapper .dropify-clear{font-family:Roboto,"Helvetica Neue",Helvetica,Arial}.dropify-wrapper.has-error .dropify-message .dropify-error,.dropify-wrapper.has-preview .dropify-clear{display:block}.dropify-font-upload:before,.dropify-wrapper .dropify-message span.file-icon:before{content:'\e800'}.dropify-font-file:before{content:'\e801'}.dropify-wrapper{display:block;position:relative;cursor:pointer;overflow:hidden;width:100%;max-width:100%;height:200px;padding:5px 10px;font-size:14px;line-height:22px;color:#777;background-color:#f2f2f2;background-image:none;text-align:center;border:2px solid #E5E5E5;-webkit-transition:border-color .15s linear;transition:border-color .15s linear}.dropify-wrapper:hover{/* background-size:30px 30px; *//* background-image:-webkit-linear-gradient(135deg,#F6F6F6 25%,transparent 25%,transparent 50%,#F6F6F6 50%,#F6F6F6 75%,transparent 75%,transparent); *//* background-image:linear-gradient(-45deg,#F6F6F6 25%,transparent 25%,transparent 50%,#F6F6F6 50%,#F6F6F6 75%,transparent 75%,transparent); *//* -webkit-animation:stripes 2s linear infinite; *//* animation:stripes 2s linear infinite; */}.dropify-wrapper.has-error{border-color:#F34141}.dropify-wrapper.has-error:hover .dropify-errors-container{visibility:visible;opacity:1;-webkit-transition-delay:0s;transition-delay:0s}.dropify-wrapper.disabled input{cursor:not-allowed}.dropify-wrapper.disabled:hover{background-image:none;-webkit-animation:none;animation:none}.dropify-wrapper.disabled .dropify-message{opacity:.5;text-decoration:line-through}.dropify-wrapper.disabled .dropify-infos-message{display:none}.dropify-wrapper input{position:absolute;top:0;right:0;bottom:0;left:0;height:100%;width:100%;opacity:0;cursor:pointer;z-index:5}.dropify-wrapper .dropify-message{position:relative;/* top:50%; *//* -webkit-transform:translateY(-50%); *//* transform:translateY(-50%); */}.dropify-wrapper .dropify-message span.file-icon{font-size:50px;color:#CCC}.dropify-wrapper .dropify-message p{margin:5px 0 0}.dropify-wrapper .dropify-message p.dropify-error{color:#F34141;font-weight:700;display:none}.dropify-wrapper .dropify-clear{display:none;position:absolute;opacity:0;z-index:7;top:10px;right:10px;background:0 0;border:2px solid #FFF;text-transform:uppercase;font-size:11px;padding:4px 8px;font-weight:700;color:#FFF;-webkit-transition:all .15s linear;transition:all .15s linear}.dropify-wrapper .dropify-clear:hover{background:rgba(255,255,255,.2)}.dropify-wrapper .dropify-preview{display:none;position:absolute;z-index:1;background-color:#FFF;padding:5px;width:100%;height:100%;top:0;right:0;bottom:0;left:0;overflow:hidden;text-align:center}.dropify-wrapper .dropify-preview .dropify-render img{top:50%;-webkit-transform:translate(0,-50%);transform:translate(0,-50%);position:relative;max-width:100%;max-height:100%;background-color:#FFF;-webkit-transition:border-color .15s linear;transition:border-color .15s linear}.dropify-wrapper .dropify-preview .dropify-render i{font-size:70px;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);position:absolute;color:#777}.dropify-wrapper .dropify-preview .dropify-render .dropify-extension{position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);margin-top:10px;text-transform:uppercase;font-weight:900;letter-spacing:-.03em;font-size:13px;width:42px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.dropify-wrapper .dropify-preview .dropify-infos{position:absolute;left:0;top:0;right:0;bottom:0;z-index:3;background:rgba(0,0,0,.7);opacity:0;-webkit-transition:opacity .15s linear;transition:opacity .15s linear}.dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner{position:absolute;top:50%;-webkit-transform:translate(0,-40%);transform:translate(0,-40%);-webkit-backface-visibility:hidden;backface-visibility:hidden;width:100%;padding:0 20px;-webkit-transition:all .2s ease;transition:all .2s ease}.dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner p{padding:0;margin:0;position:relative;width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;color:#FFF;text-align:center;line-height:25px;font-weight:700}.dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner p.dropify-filename span.file-icon{margin-right:2px}.dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner p.dropify-infos-message{margin-top:15px;padding-top:15px;font-size:12px;position:relative;opacity:.5}.dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner p.dropify-infos-message::before{content:'';position:absolute;top:0;left:50%;-webkit-transform:translate(-50%,0);transform:translate(-50%,0);background:#FFF;width:30px;height:2px}.dropify-wrapper:hover .dropify-clear,.dropify-wrapper:hover .dropify-preview .dropify-infos{opacity:1}.dropify-wrapper:hover .dropify-preview .dropify-infos .dropify-infos-inner{margin-top:-5px}.dropify-wrapper.touch-fallback{height:auto!important}.dropify-wrapper.touch-fallback:hover{background-image:none;-webkit-animation:none;animation:none}.dropify-wrapper.touch-fallback .dropify-preview{position:relative;padding:0}.dropify-wrapper.touch-fallback .dropify-preview .dropify-render{display:block;position:relative}.dropify-wrapper.touch-fallback .dropify-preview .dropify-infos .dropify-infos-inner p.dropify-infos-message::before,.dropify-wrapper.touch-fallback.has-preview .dropify-message{display:none}.dropify-wrapper.touch-fallback .dropify-preview .dropify-render .dropify-font-file{position:relative;-webkit-transform:translate(0,0);transform:translate(0,0);top:0;left:0}.dropify-wrapper.touch-fallback .dropify-preview .dropify-render .dropify-font-file::before{margin-top:30px;margin-bottom:30px}.dropify-wrapper.touch-fallback .dropify-preview .dropify-render img{position:relative;-webkit-transform:translate(0,0);transform:translate(0,0)}.dropify-wrapper.touch-fallback .dropify-preview .dropify-infos{position:relative;opacity:1;background:0 0}.dropify-wrapper.touch-fallback .dropify-preview .dropify-infos .dropify-infos-inner{position:relative;top:0;-webkit-transform:translate(0,0);transform:translate(0,0);padding:5px 90px 5px 0}.dropify-wrapper.touch-fallback .dropify-preview .dropify-infos .dropify-infos-inner p{padding:0;margin:0;position:relative;width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;color:#777;text-align:left;line-height:25px}.dropify-wrapper.touch-fallback .dropify-preview .dropify-infos .dropify-infos-inner p.dropify-filename{font-weight:700}.dropify-wrapper.touch-fallback .dropify-preview .dropify-infos .dropify-infos-inner p.dropify-infos-message{margin-top:0;padding-top:0;font-size:11px;position:relative;opacity:1}.dropify-wrapper.touch-fallback .dropify-message{-webkit-transform:translate(0,0);transform:translate(0,0);padding:40px 0}.dropify-wrapper.touch-fallback .dropify-clear{top:auto;bottom:23px;opacity:1;border-color:rgba(119,119,119,.7);color:#777}.dropify-wrapper.touch-fallback:hover .dropify-preview .dropify-infos .dropify-infos-inner{margin-top:0}.dropify-wrapper .dropify-loader{position:absolute;top:15px;right:15px;display:none;z-index:9}.dropify-wrapper .dropify-loader::after{display:block;position:relative;width:20px;height:20px;-webkit-animation:rotate .6s linear infinite;animation:rotate .6s linear infinite;border-radius:100%;border-top:1px solid #CCC;border-bottom:1px solid #777;border-left:1px solid #CCC;border-right:1px solid #777;content:''}.dropify-wrapper .dropify-errors-container{position:absolute;left:0;top:0;right:0;bottom:0;z-index:3;background:rgba(243,65,65,.8);text-align:left;visibility:hidden;opacity:0;-webkit-transition:visibility 0s linear .15s,opacity .15s linear;transition:visibility 0s linear .15s,opacity .15s linear}.dropify-wrapper .dropify-errors-container ul{padding:10px 20px;margin:0;position:absolute;left:0;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%)}.dropify-wrapper .dropify-errors-container ul li{margin-left:20px;color:#FFF;font-weight:700}.dropify-wrapper .dropify-errors-container.visible{visibility:visible;opacity:1;-webkit-transition-delay:0s;transition-delay:0s}.dropify-wrapper~.dropify-errors-container ul{padding:0;margin:15px 0}.dropify-wrapper~.dropify-errors-container ul li{margin-left:20px;color:#F34141;font-weight:700}@-webkit-keyframes stripes{from{background-position:0 0}to{background-position:60px 30px}}@keyframes stripes{from{background-position:0 0}to{background-position:60px 30px}}@-webkit-keyframes rotate{0%{-webkit-transform:rotateZ(-360deg);transform:rotateZ(-360deg)}100%{-webkit-transform:rotateZ(0);transform:rotateZ(0)}}@keyframes rotate{0%{-webkit-transform:rotateZ(-360deg);transform:rotateZ(-360deg)}100%{-webkit-transform:rotateZ(0);transform:rotateZ(0)}}
.lightBgControlForm .form-control {
  background-color: #f0f0f0;
  border-color: #acacac;
  color: #525252;
  font-weight: 600;
}
.lightBgControlForm i.fa.text-secondary {
  color: #bfbebf !important;
  transform: scale(0.8);
  margin-right: -4px;
}
.dropify-wrapper .dropify-message {
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
  box-shadow: 0px 3px 10px 2px rgb(0 0 0 / 8%);
  border-radius: 6px;
  padding: 6px 5px;
  line-height: 1;
}
.fourIconsFooter a.bg-light {
  background-color: #f0f0f0 !important;
  line-height: 30px;
  width: 30px;
}
/**************************************************/
.switchCase .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switchCase .switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.switchCase .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.switchCase .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
.switchCase input:checked + .slider {
  background-color: #4bd396;
}
.switchCase input:focus + .slider {
  box-shadow: 0 0 1px #4bd396;
}
.switchCase input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.switchCase .slider.round {
  border-radius: 34px;
}
.switchCase .slider.round:before {
  border-radius: 50%;
}