﻿
@{
    ViewBag.Title = "Index";
}

<div class=" pt70">
    <div class="fluid-container">
        
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d927764.3558058917!2d46.262034266831506!3d24.724150289894418!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2f03890d489399%3A0xba974d1c98e79fd5!2sRiyadh+Saudi+Arabia!5e0!3m2!1sen!2s!4v1518506139987" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

</div>

        <div class=" pt60 pb60 ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                        <h3 class="text-red">
                            Contact Us

                        </h3>
                        <p>Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                    </div>

                </div>

               <div class="row pt30 pb30">
                    

                        <div class="col-lg-3 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">

                            <h5 class="text-blue pb20">
                                <b>Head</b> Office

                            </h5>
                   
                            <p>MSJ Tower Al-Olaya , Riyadh</p>  
                            <p>P.O box 12321 , Riyadh 14121 ,<br />Kingdom of SaudiArabia</p>      
                            <p><b class="text-blue">T:</b> +966 12 1234567
                            <br /><b class="text-blue">F:</b> +966 12 1234567</p>
                            <p><b class="text-blue">E:</b> info@msj.com.sa</p>   


                        </div><!--/.col-->



                   <div class="col-lg-3 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">

                       <h5 class="text-blue pb20">
                           <b>Branch</b> Office Riyadh

                       </h5>

                       <p>MSJ Tower Al-Olaya , Riyadh</p>
                       <p>P.O box 12321 , Riyadh 14121 ,<br />Kingdom of SaudiArabia</p>
                       <p>
                           <b class="text-blue">T:</b> +966 12 1234567
                           <br /><b class="text-blue">F:</b> +966 12 1234567
                       </p>
                       <p><b class="text-blue">E:</b> info@msj.com.sa</p>


                   </div><!--/.col-->

                        
                   <div class="col-lg-3 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">

                       <h5 class="text-blue pb20">
                           <b>Branch</b> Office Jeddah

                       </h5>

                       <p>MSJ Tower Al-Olaya , Riyadh</p>
                       <p>P.O box 12321 , Riyadh 14121 ,<br />Kingdom of SaudiArabia</p>
                       <p>
                           <b class="text-blue">T:</b> +966 12 1234567
                           <br /><b class="text-blue">F:</b> +966 12 1234567
                       </p>
                       <p><b class="text-blue">E:</b> info@msj.com.sa</p>


                   </div><!--/.col-->


                   <div class="col-lg-3 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">

                       <h5 class="text-blue pb20">
                           <b>Branch</b> Office Jeddah

                       </h5>

                       <p>MSJ Tower Al-Olaya , Riyadh</p>
                       <p>P.O box 12321 , Riyadh 14121 ,<br />Kingdom of SaudiArabia</p>
                       <p>
                           <b class="text-blue">T:</b> +966 12 1234567
                           <br /><b class="text-blue">F:</b> +966 12 1234567
                       </p>
                       <p><b class="text-blue">E:</b> info@msj.com.sa</p>


                   </div><!--/.col-->


         

                    <!--/.col-->



                </div>
            </div>
        </div>

