/************* custom styles ****************/
.pac-container {
    z-index: 10000;
}

.visit_complain_fields {
    display: none;
}
.address_map {
    width: 100%;
    height: 400px;
}
.glc {
    box-shadow: none;
    border: 1px solid #efefef;
}
.btn.confirm-loc-btn.btn-success {
    color: #fff;
    display: block;
    padding: 10px !important;
    width: 150px;
}
.btn.confirm-loc-btn.btn-success:hover {
    color: #ffffff;
}
.ticket-opener:hover {
    cursor: pointer;
}
.rightside-right-chat p,
.rightside-right-chat {
    background: #efefef !important;
}
.ticket-opener {
    width: 100%;
    position: relative;
}
.no_unread {
    position: absolute;
    right: 5px;
    color: #fff;
    background: #528dea;
    display: inline-block;
    width: 22px;
    height: 22px;
    top: 5px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}
.chatCommentsClosed,
.chatCommentsOpen {
    min-height: 375px;
}
.ticket-closed.ticket-opener.w3-bar-item-ticketing,
.ticket-open.ticket-opener.w3-bar-item-ticketing {
    border: 0;
    border: 1px solid #efefef !important;
    color:  #b1b1b1;
    padding: 20px 25px 0px;
    text-align: left;
}
.active-ticket {
    background: #f1f1f1 !important;
    color: #656565 !important;
}


.chat-loader {
    border: 3px solid #f7f7f7;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 0.5s linear infinite;
    margin: 50px auto 0;
}
.chat-loader-small {
    border: 3px solid #f7f7f7;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    animation: spin 0.5s linear infinite;
    margin: 0 auto 0;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.product-thumb {
    max-height: 250px;
}
.carousel-inner .item {
    height: 800px !important;
    overflow: hidden !important;
}

.tab-pane .w3-sidebar {
    overflow-y: scroll;
}