﻿.main-section{
  width: 300px;
  position: fixed;
  bottom:-450px;
  z-index:100;
  right: 0;
}


.main-section-complaint{
  width: 300px;
  position: fixed;
  bottom:-450px;
  z-index:100;
  right:0;
}

<!-- chat section -->

.first-section:hover{
  cursor: pointer;
}
.open-more{
  bottom:0px;
  transition:0.8s;
}
.border-chat{
  border:1px solid #28a745;
  margin: 0px;
}
.first-section{
  background-color:#28a745;
}
.first-section p{
  color:#fff;
  margin:0px;
  padding: 10px 0px;
}
.first-section p:hover{
  color:#fff;
  cursor: pointer;
}
.right-first-section{
   text-align: right;
}
.right-first-section i{
  color:#fff;
  font-size: 15px;
  padding: 12px 3px;
}
.right-first-section i:hover{
  color:#fff;
}
.chat-section ul li{
  list-style: none;
  margin-top:10px;
  position: relative;
}
.chat-section{
  overflow-y:scroll;
  height:300px;
}
.chat-section ul{
  padding: 0px;
}
.left-chat img,.right-chat img{
  width:50px;
  height:50px;
  float:left;
  margin:0px 10px;
}
.right-chat img{
  float:right;
}
.second-section{
  padding: 0px;
  margin: 0px;
  background-color: #F3F3F3;
  height: 300px;
}
.left-chat,.right-chat{
  overflow: hidden;
}
.left-chat p,.right-chat p{
  background-color:#28a745;
  padding: 10px;
  color:#fff;
  border-radius: 5px; 
  float:left;
  width:60%;
  margin-bottom:20px;
  margin-left:15px;
  margin-right:15px;
}
.left-chat span,.right-chat span{
  position: absolute;
  left:70px;
  top:40px;
  color:#B7BCC5;
}
.right-chat span{
  left:45px;
}
.right-chat p{
  float:right;
  background-color: #FFFFFF;
  color:#28a745;
}
.third-section{
  border-top: 1px solid #EEEEEE;
      background-color: #FFF;
}
.text-bar input{
  width:88%;
  padding:10px 10px;
  margin:0px;
  border:1px solid #fff;
}
.text-bar a i{
  background-color:#28a745;
  color:#fff;
  width:30px;
  height:30px;
  padding:7px 0px;
  border-radius: 50%;
  text-align: center;
}
.left-chat:before{
  content: " ";
  position:absolute;
  top:0px;
  left:55px;
  bottom:150px;
  border:15px solid transparent;
  border-top-color:#28a745; 
}
.right-chat:before{
  content: " ";
  position:absolute;
  top:0px;
  right:55px;
  bottom:150px;
  border:15px solid transparent;
  border-top-color:#fff; 
}


<!-- chat section end -->



<!-- complaint section -->

.first-section-complaint:hover{
  cursor: pointer;
}
.open-more-complaint{
  bottom:0px;
  transition:0.8s;
}
.border-chat{
  border:1px solid #28a745;
  margin: 0px;
}
.first-section-complaint{
  background-color:#28a745;
}
.first-section-complaint p{
  color:#fff;
  margin:0px;
  padding: 10px 0px;
}
.first-section-complaint p:hover{
  color:#fff;
  cursor: pointer;
}
.right-first-section-complaint{
   text-align: left;
}
.right-first-section-complaint i{
  color:#fff;
  font-size: 15px;
  padding: 12px 3px;
}
.right-first-section-complaint i:hover{
  color:#fff;
}

.chat-section-complaint{
  height:300px;
}

.second-section-complaint{
  padding: 0px;
  margin: 0px;
  background-color: #F3F3F3;
  height: 340px;
}

<!-- complaint section end -->

.w3-sidebar{
    height:auto;
    width:100%;
    background-color:#fff;
    overflow:auto

}
.w3-bar-block .w3-bar-item{
    width:100%;
    display:block;
    padding:8px 0px !important;
    text-align:left;
    border:none;
    white-space:normal;
    float:none;outline:0;
    font-size: 12px;
    background-color:#FFF;
   
    cursor: pointer;}


.w3-bar-block .w3-bar-item-ticketing {
    width: 100%;
    display: block;
    padding-bottom: 15px !important;
    padding-top: 15px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
    font-size: 12px;
    background-color: #FFF;
    cursor: pointer;
}



@media (min-width:992px)  and (max-width: 1199px) {
 
.chat-button{


position:fixed;top:50%;-webkit-transform: rotate(-90deg);-moz-transform: rotate(-90deg);right:-2.5%;

}


}

@media (min-width:1200px)  and (max-width: 2000px) {
  
.chat-button{


position:fixed;top:50%;-webkit-transform: rotate(-90deg);-moz-transform: rotate(-90deg);right:-2.5%;

}



}

