﻿
@{
    ViewBag.Title = "Index";
}

<div class=" pt90 pb90 ">
    <div class="container">
        <div class="row pt90 pb90">
            <div class="col-lg-12">

                <h3 class="text-red">
                    Products
                
                </h3>
                <p>Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
            </div>

            </div>

            <div class="row">
                <div class="col-lg-10">

                    <h3 class="text-blue">
                        Categories

                    </h3>
                </div>

                <div class="col-lg-2">

                    <h3 class="text-blue">
                        <span class="input-group-btn" style="float:right;">
                            <button class="btn btn-product btn-primary" type="submit">Find a Product</button>
                        </span>

                    </h3>
                </div>

                <div class="col-lg-6 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">

                    <div class="item">

                        <a href="#" class="project-overlay">
                            <img alt="Image" class="img-fluid border-round" src="~/images/img1.jpg">
                            <div class="project-overlay-caption">
                                <h4>Portfolio Title</h4>

                            </div>
                        </a><!--project overlay-->
                    </div>

                </div><!--/.col-->

                <div class="col-lg-6 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">

                    <div class="item">

                        <a href="#" class="project-overlay">
                            <img alt="Image" class="img-fluid border-round" src="~/images/img1.jpg">
                            <div class="project-overlay-caption">
                                <h4>Portfolio Title</h4>

                            </div>
                        </a><!--project overlay-->
                    </div>


                </div>

                <div class="col-lg-3 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">

                    <div class="item">

                        <a href="#" class="project-overlay">
                            <img alt="Image" class="img-fluid border-round" src="~/images/img1.jpg">
                            <div class="project-overlay-caption">
                                <h4>Portfolio Title</h4>

                            </div>
                        </a><!--project overlay-->
                    </div>

                </div>

                <div class="col-lg-3 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">

                    <div class="item">

                        <a href="#" class="project-overlay">
                            <img alt="Image" class="img-fluid border-round" src="~/images/img1.jpg">
                            <div class="project-overlay-caption">
                                <h4>Portfolio Title</h4>

                            </div>
                        </a><!--project overlay-->
                    </div>

                </div>

                <div class="col-lg-3 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">

                    <div class="item">

                        <a href="#" class="project-overlay">
                            <img alt="Image" class="img-fluid border-round" src="~/images/img1.jpg">
                            <div class="project-overlay-caption">
                                <h4>Portfolio Title</h4>

                            </div>
                        </a><!--project overlay-->
                    </div>

                </div>

                <div class="col-lg-3 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">

                    <div class="item">

                        <a href="#" class="project-overlay">
                            <img alt="Image" class="img-fluid border-round" src="~/images/img1.jpg">
                            <div class="project-overlay-caption">
                                <h4>Portfolio Title</h4>

                            </div>
                        </a><!--project overlay-->
                    </div>

                </div>

                <div class="col-lg-3 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">

                    <div class="item">

                        <a href="#" class="project-overlay">
                            <img alt="Image" class="img-fluid border-round" src="~/images/img1.jpg">
                            <div class="project-overlay-caption">
                                <h4>Portfolio Title</h4>

                            </div>
                        </a><!--project overlay-->
                    </div>

                </div>

                <div class="col-lg-3 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">

                    <div class="item">

                        <a href="#" class="project-overlay">
                            <img alt="Image" class="img-fluid border-round" src="~/images/img1.jpg">
                            <div class="project-overlay-caption">
                                <h4>Portfolio Title</h4>

                            </div>
                        </a><!--project overlay-->
                    </div>

                </div>

                <div class="col-lg-3 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">

                    <div class="item">

                        <a href="#" class="project-overlay">
                            <img alt="Image" class="img-fluid border-round" src="~/images/img1.jpg">
                            <div class="project-overlay-caption">
                                <h4>Portfolio Title</h4>

                            </div>
                        </a><!--project overlay-->
                    </div>

                </div>

                <div class="col-lg-3 mb30 mt30 wow fadeInUp" data-wow-delay=".2s">

                    <div class="item">

                        <a href="#" class="project-overlay">
                            <img alt="Image" class="img-fluid border-round" src="~/images/img1.jpg">
                            <div class="project-overlay-caption">
                                <h4>Portfolio Title</h4>

                            </div>
                        </a><!--project overlay-->
                    </div>

                </div>

                <!--/.col-->



            </div>
        </div>
</div>

