/*==========================
      Project Base
==========================*/

/*==========================
      Universal CSS
==========================*/
.overflow-hidden {
  overflow: hidden;
}
.p-relative {
  position: relative;
}
input:focus, a:focus, button:focus, textarea:focus {
  outline: none ;
}
.displayInlineTop {
  display: inline-block;
  vertical-align: top;
}
.displayBlock100 {
  display: block;
  width: 100%;
}
textarea,
input[type="text"],
input[type="email"],
input[type="file"],
input[type="password"],
input[type="datetime"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="tel"],
input[type="url"],
input[type="image"],
input[type="week"],
select {
  background-color: $white;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  font-size: 13px;
  height: 35px;
  padding: 0 14px;
  margin: 0;
  width: 100%;
  &.has-error {border-color: $error_color;}
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-size: auto auto;
  &:focus {
    outline: none;
  }
}
select::-ms-expand {
  display: none;
}

textarea {
  height: auto;
  min-height: 90px;
  padding-top: 11px;
  resize: none;
}

input::-webkit-input-placeholder    {opacity:1; }
input:-moz-placeholder              {opacity:1; }
input::-moz-placeholder             {opacity:1; }
input:-ms-input-placeholder         {opacity:1; }

textarea::-webkit-input-placeholder    {opacity:1; }
textarea:-moz-placeholder              {opacity:1; }
textarea::-moz-placeholder             {opacity:1; }
textarea:-ms-input-placeholder         {opacity:1; }



.m-radio,
.m-checkbox {
    display: inline-block;
    position: relative;
    padding-left: 0;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 1rem;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    height: 36px;
    width: 36px;
    >span {
      border: 1px solid #6b6b6b;
      background: #fff !important;
      border-radius: 50%;
      background: none;
      position: absolute;
      top: 1px;
      left: 0;
      height: 36px;
      width: 36px;
        &:after {
            content: "";
            position: absolute;
            display: none;
        }
    }
    >input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        filter: alpha(opacity=0);
    }
    >input:checked~span {
        background-color: #3fbb50 !important;
        border: 1px solid #3fbb50;
    }
}
.m-radio {
    >span {
        border-radius: 50% !important;
        &:after {
            border: solid gray;
            background: gray;
            top: 50%;
            left: 50%;
            margin-left: -3px;
            margin-top: -3px;
            height: 6px;
            width: 6px;
            border-radius: 100% !important;
        }
    }
}
.m-checkbox {
    >span {
        &:after {
            top: 50%;
            left: 50%;
            margin-left: -5px;
            margin-top: -11px;
            width: 11px;
            height: 20px;
            border-width: 0 4px 4px 0 /*rtl:ignore*/ !important;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg)/*rtl:ignore*/ ;
            border: solid white;
        }
    }
}
.m-radio>input:checked~span:after,
.m-checkbox>input:checked~span:after {
    display: block;
}
