/*==========================
      Project Base
==========================*/
$darkGray :     #333333;
$white :        #ffffff;
$error_color:   #d90000;
$blackColor:    #0c0c0c;


/*==========================
      Universal CSS
==========================*/
