// Import helpers from directional.scss
@import "bootstrap/bootstrap";
@import "directional";
@import "common";

// Use the helpers to make CSS for LTR or RTL
body {
  direction: if-rtl(rtl,ltr);
  background-color: $white;
  line-height: if-rtl(1.3);
  visibility: visible !important;
  font-size: 18px;
}
p {
  font-size:18px;
}
h1 {
  font-size: 40px;
  line-height: 1.2;
}
.subHeading {
  font-size: 30px;
}
ul,ol,li,form {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a:hover {
  @include transition(all, 0.5s, ease-in);
  color: $darkGray;
}
body, html {
  height: 100%;
  min-height: 100%;
}
a[href^=tel] { color: inherit; text-decoration: none; }
select {
  background-position: if-ltr(right, left) center;
}
.btn, .edBtn, .btn-success {@include transition-duration(0.5s);}
  /*======================================
      Bootstrap css for START
  ======================================*/
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: $left;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: $left;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: $left;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: $left;
  }
}

.pull-left  {float: $left !important;}
.pull-right {float: $right !important;}
.pull-none  {float: none !important;}
.text-left  {text-align: $left;}
.text-right {text-align: $right;}
/*======================================
    Bootstrap css for  END
======================================*/
.haveLeftShadow {
  -webkit-box-shadow: -6px 0px 13px -9px rgba(0, 0, 0, 0.59);
  box-shadow: -6px 0px 13px -9px rgba(0, 0, 0, 0.59);
}
.haveUpperShadow {
  -webkit-box-shadow: 0px -10px 12px -10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px -10px 12px -10px rgba(2, 0, 0, 0.5);
}
.height-header {
  min-height: calc(100vh - 92px);
}
.btn.btn-rounded {
  border-radius: 20px;
}
/*======================================
    Common Css  END
======================================*/

header.defaultHeader {
  background-color:#000;
  color:#fff;
}
.addToFavorite {
  @include absolute(0,0,auto,auto);
  &:before {
    content: '';
    @include absolute(-32px,-62px,auto,auto);
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    border-bottom: 45px solid #ffbd02;
    height: 0;
    width: 0;
    transform: rotate(45deg);
    transform-origin: 0 0 0;
    z-index: 0;
  }
  > i {
    position: relative;
    z-index: 1;
  }
}
/*======================================
        Header  END
======================================*/


/*======================================
        Footer  END
======================================*/

/*======================================
      Home page Main Section
=======================================*/
.packages {
  background-color:#000;
  background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/*======================================
        Some Extra CSS START
======================================*/

/*======================================
        Some Extra CSS END
======================================*/






/*======================================
        Responsive START
======================================*/
@media (max-width: 1500px)  {}
@media (max-width: 1199px)  {}
@media (max-width: 991px)   {}
@media (max-width: 767px)   {}
@media (max-width: 480px)   {}


