* {
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
}
html, body{overflow-x: hidden;}
.home-slider .image {
	height: 900px;
	width: 100%;
	background-size: 100% 100% !important;
	background-repeat: no-repeat !important;
	position: relative;
}
.home-slider .details {
    position: absolute;
    bottom: 0;
    left: 0;
	padding-left: 45px;
	padding-right: 45px;
	padding-bottom: 10%;
	padding-top: 10%;
}
.home-slider .details * {
	margin: 0px;
	padding: 0px;
}

.menu-area {
	padding: 30px;
}

.logo-area {
	text-align: right;
	background: #ffffff;
}

.logo-area img {
	width: 50%;
}

.no-padding {
	padding: 0px !important;
}
.no-margin {
	margin: 0px !important;
}
nav .menu-area {
	background: #550d0e;
}

.no-gutters {
	margin: 0px;
}

.no-gutters > [class^=col] {
	padding: 0px;
}


.section {
	position: relative;
	margin: 50px 0px;
}
#section1 * {
	color: #ffffff;
}
#section1 .slider-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
	padding-left: 45px;
	padding-right: 45px;
	padding-bottom: 4%;
	padding-top: 0%;
}

#section1 .slider-controls img {
	width: 60px;
    display: inline-block;
    position: relative;
    left: -10px;
    cursor: pointer;
	
}
#section2 {
	padding-top: 50px;
}

#section2 .section-row .col:first-child, #section2 .section-row .col:nth-child(2), #section2 .section-row .col:nth-child(3) {
	margin-bottom: 30px;
}

#section2 .section-row .col:nth-child(4) .image-mask {
	height: 250px;
}

#section2 .news-card .desc {
	padding: 10px;
}

#section2 .news-card .desc * {
	margin: 0px;
	padding: 0px;
}
#section2 .news-card .image-mask {
	width: 100%;
    height: 450px;
    border-radius: 4px;
}

#section2 .news-card {
	border: 1px solid #dddddd;
    box-shadow: 0px 5px 25px -10px;
    border-radius: 4px;
}

#section3 * {
	color: #ffffff;
}

#section3 .video-section {
	background-repeat: no-repeat !important;
	background-size: 100% 100% !important;
	height: 400px;
	width: 100%;
}

.image-mask {
	overflow: hidden;
}

.image-mask img {
	min-width: 100%;
	min-height: 100%;
}

#section2 .title {
    padding: 30px 0px;
}

#section2 .news-controls img {
	width: 60px;
    display: inline-block;
    cursor: pointer;
	
}
#section4 .content * {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

#section4 .content > h1, #section4 .content > h2, #section4 .content > h3, #section4 .content > h4, #section4 .content > h5, #section4 .content > h6 {
	font-size: 24px !important;
	font-weight: bold !important;
	margin: 10px 0px !important;
	margin-bottom: 20px !important;
}

#section4 .row [class^=col].content {
	margin-bottom: 40px;
}

#section5 * {
	color: #ffffff;
}

#section5 .custom-container {
	height: 100%;
	display: table;
	width: 100%:
}

#section5 .card {
	background-repeat: no-repeat !important;
	background-size: 100% 100% !important;
	width: 100%;
	height: 400px;
	position: relative;
}

#section5 .card .desc {
	display: table-cell;
	vertical-align: bottom;
	padding-bottom: 30px;
}

#section5 .card .desc > h1, #section5 .card .desc > h2, #section5 .card .desc > h3, 
#section5 .card .desc > h4, #section5 .card .desc > h5, #section5 .card .desc > h6 {
	font-weight: 24px;
	font-weight: bold;
}

#section6 .row [class^=col] {
	text-align: center;
	margin-bottom: 40px;
}

#section6 .row [class^=col] p {
	font-weight: bold;
}

#section6 .image-mask {
	width: 50%;
	display: inline-block;
}

#section6 .image-mask img {
	width: 100%;
}

#section7 .suburbs-section {
	height: 500px;
	background: #f2ebdb;
	padding-top: 90px;
}

#section7 .image-mask {
    height: 170px;
    width: 100%;
	border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#section7 .desc {
	padding: 10px;
    background: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

#section7 .desc * {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

#section7 .desc > p {
	font-weight: bold;
}
#section8 .facilities-section > .row {
	margin-bottom: 50px;
}
#section8 .facilities-section > .row:first-child .main-content-wrapper .row {
	height: 50px;
}
#section8 .facilities-section > .row:last-child .main-content-wrapper .row {
	margin-bottom: 10px;
}
#section8 .main-content-wrapper .row [class^=col] {
	height: 100%;
	display: table;
}

#section8 .main-content-wrapper .row [class^=col] > p {
	font-weight: bold;
}
#section8 .facilities-section > .row:first-child .main-content-wrapper .row [class^=col] * {
	vertical-align: middle;
	display: table-cell;
}
#section8 .main-content-wrapper .row [class^=col] * {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-decoration: none;
}

#section9 * {
	color: #ffffff;
}
#section9 .aspects-section {
	background: #500c0d;
}
#section9 .image-mask {
    width: 200px;
    display: inline-block;
}

#section9 .desc p {
	font-size: large;
	font-weight: lighter;
}

.custom-container {
	padding-left: 45px;
	padding-right: 45px;
}
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
	background: #ffffff;
}
.title, .title * {
	font-weight: bold;
}

.block {
	display: block !important;
}

.inline-block {
	display: inline-block !important;
}

.left {
	float: left !important;
}
.right {
	float: right !important;
}

.text-left {
	text-align: left !important;
}
.text-center {
	text-align: center !important;
}
.text-right {
	text-align: right !important;
}
.smaller {
	font-weight: smaller !important;
}

.lighter {
	font-weight: lighter !important;
}

.bolder {
	font-weight: bolder !important;
}
.small {
	font-weight: small !important;
}

.light {
	font-weight: light !important;
}

.bold {
	font-weight: bold !important;
}
.display-table {
	display: table !important;
	width: 100% !important;
}
.middle {
	display: table-cell !important;
    vertical-align: middle !important;
}

.top {
	display: table-cell !important;
    vertical-align: top !important;
}

.bottom {
	display: table-cell !important;
    vertical-align: bottom !important;
}

.full-center {
	position: absolute !important;
	left: 50% !important;
	top: 50% !important;
	transform: translate(-50%, -50%) !important;
}

.gap {
	min-height: 1px;
	margin: 15px;
	width: 100%;
	display: block;
}
.no-list-style {
	list-style-type: none !important;
}