body {
  text-align: left;
  margin-right: 0;
  padding: 1px 2px 3px 4px;
  overflow-x: visible;
  overflow-y: visible;
  font-weight: normal !important;
  font-size: 1em;
  line-height: 1em; }

p {
  text-align: left;
  margin-right: 0;
  padding: 10px 500px 30px 100px;
  font-weight: normal !important;
  font-size: 2em;
  line-height: 1em; }
